.detailsBanner {
  background-color: whitesmoke;
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.rollNumber {
  flex: 1;
}

.returnToApps {
  flex: 1;
  text-align: end;
}

.returnToApps button {
  min-width: auto;
  margin: 0em;
}

.appMessageMainContent {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 0.5em;
}

.appMessageMainContent h1 {
  color: #071d49;
}

.formHeading {
  margin: 0em;
  margin-bottom: 0.5em;
}

.messageSubjectHeader {
  background-color: #edf6ff;
  color: #071d49;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0.5em;
  border-top: solid 2px #005eb8;
  border-bottom: solid 1px #005eb8;
}

.messageSubject {
  background-color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0.5em;
  border-bottom: solid 1px #b5bbc8;
}

.messageSubject:last-child {
  border-bottom: solid 1px #005eb8;
}

.questionIcon {
  width: 4em;
  height: 4em;
}

.innerMS {
  flex: 1;
}

.innerMS:last-child {
  text-align: right;
}

.innerMSDownIcon {
  width: 1.5em;
  height: 1.5em;
}

.chatIcon {
  width: 3em;
  height: 3em;
  padding: 1em;
}

.sendMessageContent {
  display: flex;
  margin: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.sentMessageText {
  background-color: #00a2b3;
  color: white;
  border-radius: 15px;
  padding: 1em;
  padding-top: 2em;
  text-align: center;
  margin-right: 2em;
  width: 100%;
}

p {
  font-size: medium;
}

.sendMessageForm {
  padding: 1.5em;
  border-radius: 6px;
  margin: auto;
  flex-direction: column;
  box-shadow: 0px 8px 36px #222;
  max-width: unset;
  width: 100%;
}

.form-group {
  margin-bottom: 0.5em;
}

.form-group input {
  margin-bottom: 0.5em;
}

.sendMessageForm input {
  flex: auto;
  max-width: max-content;
  min-width: -webkit-fill-available;
}

.sendMessageForm select {
  flex: auto;
  width: auto;
  min-width: -webkit-fill-available;
  height: max-content;
}

.formRadio {
  display: inline-flex;
}

.formRadiob {
  margin-right: 3em;
}

.formRadio label {
  margin-left: 0.5em;
}

.formRadio input {
  width: auto;
  display: inline;
}

.sendMessageForm textarea {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d1d5;
  margin-top: 5px;
  display: block;
  width: -webkit-fill-available;
}

.messageHistoryText {
  margin-bottom: 2em;
}

.showHideIcons {
  width: 2em;
  height: 2em;
}

.innerMS button {
  min-width: fit-content;
  background-color: white;
}

button:focus {
  outline: 0;
}

.messageHistoryHeader {
  background-color: #edf6ff;
  color: #071d49;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0.5em;
  border-top: solid 2px #005eb8;
  border-bottom: solid 1px #005eb8;
}

.messageHistoryBody {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-bottom: solid 1px #b5bbc8;
}

.messageHistoryBody:last-child {
  border-bottom: solid 1px #005eb8;
}

.innerMS-history-body {
  flex: 2;
}
