.brokerWelcome{
    align-content: center;
}

.brokerDetails{
    display: flex;    
    padding: 0.5em;
    background-color: white;
    flex:1;
}

.brokerID{
    flex:1
}

.appName{
    flex:1.2;
}

.brokerDetails button{
    min-width: fit-content;
    margin: 0;
}

.brokerInfoBox{
    width: max-content;
    padding: 1em;
    text-align: center;
    width: -webkit-fill-available;
}

.applicationBox{
    background-color: #edf6ff;
    width: fit-content;
    padding: 2em;
    margin: 0.5em;
    justify-content: center;
    display: inline-grid;
    list-style-type: none;
}

.applicationBox a{
text-decoration: none;
font-size: larger;
font-weight: bold; 
}

.applicationBox a:visited{
    color: navy; 
    }

.applicationBoxHeaderIcon{
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

.brokerApps{
    text-align: center;
    padding:1em
}

.appLink{
    padding-bottom: 1em;
}