.footer{
    height: 2em;
    background-color: #005eb8;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    background: rgb(0,94,184);
    background: linear-gradient(90deg, #005eb8 35%, #071D49 110%);
}