.header{
    /* background-color: #005eb8;
    position: static;
    top: 0;
    left:0;
    right:0; */
    background: #006a4d;
    background: linear-gradient(180deg, #024731 35%, #006a4d 110%);
    /* height: 5em; */
}

.header-logo{
    height: 5em;
    margin: 0.5em;
}
